---
BasedOnStyle: WebKit
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
NamespaceIndentation: None
FixNamespaceComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
UseTab: Never